{%  extends "layouts/base.njk"  %}
{% block body %} 
 
        <div class="message">{{ content }}</div>
        <div id="darkbannerwrap"></div>
   
{% endblock %} 
{% block scripts %} 
    <script>
   
    </script>
{% endblock %}

