{%  extends "../layouts/admincomm.njk"  %}
{% block body %} 
   <div class="x-body">
       
        {% if (opt==0) %}

 <form class="layui-form">
          <div class="layui-form-item">
              <label for="L_email" class="layui-form-label">
                  <span class="x-red">*</span>邮箱
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_email" name="email" required="" lay-verify="email"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>将会成为您唯一的登入名
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  <span class="x-red">*</span>昵称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_username" name="username" required="" lay-verify="nikename"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_pass" class="layui-form-label">
                  <span class="x-red">*</span>性别
              </label>
              <div class="layui-input-inline">
               <input type="radio" name="gender" lay-skin="primary" title="男" id="L_pass" value="1" name="gender" required="" lay-verify="gender"
                  autocomplete="off" class="layui-input" checked="">
                 
              
                  <input type="radio" id="L_pass_0" name="gender"  title="女" value="0"  required="" lay-verify="gender"
                  autocomplete="off" class="layui-input"> 
              </div>
             
          </div>
          <div class="layui-form-item">
              <label for="L_mobile_phone" class="layui-form-label">
                  <span class="x-red">*</span>手机号
              </label>
              <div class="layui-input-inline">
                  <input type="number" id="L_mobile_phones" name="mobile_phone" required="" lay-verify="mobile_phone"
                  autocomplete="off" class="layui-input">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="L_address" class="layui-form-label">
                 地址
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_address" name="address" required="" lay-verify="address"
                  autocomplete="off" class="layui-input">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  保存
              </button>
          </div>
      </form>
        {% else %}
 <form class="layui-form">
          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  昵称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_username" name="username" disabled="" value="{{ users[0].username }}" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  <span class="x-red">*</span>旧密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="L_repass" name="oldpass" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_pass" class="layui-form-label">
                  <span class="x-red">*</span>新密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="newpass" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  6到16个字符
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  <span class="x-red">*</span>确认密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="L_repass" name="repass" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="save" lay-submit="">
                  保存
              </button>
          </div>
      </form>
        {% endif %}
        
    </div>
    <script>
      function saveUser() {
        let data =  $("#edit-user").serialize();
        
         console.log(data)
         $.ajax({
            url:`/user/${$("#user-id").val()}`,
            type:"put",
            dataType:"json",
            timeout:10000,
            data:data,
            success:function(data){
                //callback(data);
               console.log("====",data)
            }
        });
      }
     
     
    
    </script>
{% endblock %}    