{%  extends "../layouts/admincomm.njk"  %}

{% block body %} 
 <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input class="layui-input"  autocomplete="off" placeholder="开始日" name="start" id="start">
          <input class="layui-input"  autocomplete="off" placeholder="截止日" name="end" id="end">
          <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加用户','/api/v2/user/new',600,400)"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：<span id="totalCount"></span> 条</span>
      </xblock>
      <table class="layui-table x-admin" >
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>用户名</th>
            <th>性别</th>
            <th>手机</th>
            <th>邮箱</th>
            <th>地址</th>
            <th>加入时间</th>
            <th>状态</th>
            <th>操作</th></tr>
        </thead>
        <tbody id="tbody">
        </tbody>
      </table>
     
      <div class="page">
       <div class="box" id="box"></div>
      </div>

      <div style="display:none">
        <input type="hidden" id="pageStart" value="1">
        <input type="hidden" id="pageSize" value="10">
        <input type="hidden" id="setTotalCount">
        <input type="hidden" id="api" value="/api/v2/user">
    </div>
    <script>
     $(function(){
        let api = $("#api").val()
        let pageStart = getQueryString("curPage") || parseInt($("#pageStart").val());// 初始页码
        let pageSize  = parseInt($("#pageSize").val()); //每页最大记录数       
        let setTotalCount = parseInt($("#setTotalCount").val()); //总记录数
        let totalPage = Math.ceil(setTotalCount / pageSize); //总页数
        let reloadUrl = `${api}?curPage=${pageStart}&pageSize=${pageSize}`; //更新后刷新当前页
       
        getUserlist(reloadUrl);
        setTimeout(function() {
           pagein(api)
        }, 300);
       
     })
    //load info
     function getUserlist(reloadUrl){
       //alert(url)
       let data = '';
        $.ajax({
            url:reloadUrl,
            type:"GET",
            dataType:"json",
            timeout:10000,
            data:data,
            success:function(res){
               if(res.success){
                   $("#setTotalCount").val(res.data.totalCount); //总记录数
                   $("#totalCount").html(res.data.totalCount)
                   generatorTableTr(res.data.users)
                }
                else{
                   alert(res.error_message)
              }
            }
        });
     }

      function pagein(api){
       
         let pageStart = getQueryString("curPage") || parseInt($("#pageStart").val());// 初始页码
         let pageSize  = parseInt($("#pageSize").val()); //每页最大记录数       
         let setTotalCount = parseInt($("#setTotalCount").val()); //总记录数
         let totalPage = Math.ceil(setTotalCount / pageSize); //总页数
        // let reloadUrl = `${api}?curPage=${pageStart}&pageSize=${pageSize}`; //更新后刷新当前页
        
         $('#box').paging({
            initPageNo: pageStart, // 初始页码
            totalPages: totalPage, //总页数
            totalCount: '合计' + setTotalCount + '条数据', // 条目总数
            slideSpeed: 600, // 缓动速度。单位毫秒
            jump: true, //是否支持跳转
            callback: function(page) { // 回调函数
              $("#pageStart").val(page)
             let reloadUrl = `${api}?curPage=${page}&pageSize=${pageSize}`
              getUserlist(reloadUrl)
            }
        })
      }
      
      layui.use('laydate', function(){
         var laydate = layui.laydate;

         //执行一个laydate实例
         laydate.render({
           elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
           elem: '#end' //指定元素
        });
      });

       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm(`确认要${$(obj).attr('title')}吗？`,function(index){
              let props = {}
              if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                 props.status = 1
                updateUser(id, JSON.stringify(props)) 
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                // $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已启用!',{icon: 1,time:1000});
                window.location.href = reloadUrl
              }else{
                 props.status = 0
                 updateUser(id, JSON.stringify(props)) 

                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                // $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已停用!',{icon: 5,time:1000});
                window.location.href = reloadUrl
              }              
          });         
      }

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
               //发异步删除数据
               delUser(id);
               layer.msg('已删除!',{icon:1,time:1000},function(){
                     window.location.href = reloadUrl
               });
               // $(obj).parents("tr").remove();              
          });
      }



      function delAll (argument) {

        var data = tableCheck.getData();
        if(data.length<1)
        {
            layer.msg('请勾选要删除的记录', {icon: 1});
            return false;
        }
       let ids = data.join(',');
       console.log('delAll data=====',data)
  
        layer.confirm('确认要删除吗？'+ ids,function(index){
            //捉到所有被选中的，发异步进行删除
            delUser(0, ids)
            layer.msg('删除成功', {icon: 1});
           // $(".layui-form-checked").not('.header').parents('tr').remove();
            layer.msg('已删除!',{icon:1,time:1000},function(){
                     // window.location.reload();
                      window.location.href = reloadUrl
            });
        });
      }

      //更新
       function updateUser(id, props) {
         let data =  $(".layui-form").serialize();
        
         console.log(data)
         $.ajax({
            url:`${api}/${id}?props=${props}`,
            type:"put",
            dataType:"json",
            timeout:10000,
            data:data,
            success:function(res){
                //callback(data);
                if(res.success){
                   alert(res.success_message)      
                }
                else{
                   alert(res.error_message)
              }
            }
        });
      }

      //删除
      function delUser(id, ids) {
        let data =  $(".layui-form").serialize();
        $.ajax({
            url:`${api}/${id}?ids=${ids}`,
            type:"delete",
            dataType:"json",
            timeout:10000,
            data:data,
            success:function(res){
               if(res.success){
                   alert(res.success_message)      
                }
                else{
                   alert(res.error_message)
              }
            }
        });
        
     }

    

     function generatorTableTr(data){
       let trStr = ``
       let gender =''
       let status = ''
        trStr +=``
       for(k in data){
      // console.log(data[k])
       
       trStr +=`<tr>
            <td>
              <div
               class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='${data[k].id}'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>${data[k].id }</td>
            <td>${data[k].username }</td>
            <td>`  
            if (data[k].gender==1){
                  gender = '男'
               }else{
                  gender ='女'
             }
                   
           trStr +=`${gender}</td>
            <td>${data[k].mobile_phone }</td>
            <td>${data[k].email }</td>
            <td>${data[k].address }</td>
            <td>${data[k].created_at }</td>
            <td class="td-status">`  
            if (data[k].status==1){
                  status = `<span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span>`
               }else{
                  status =` <span class="layui-btn layui-btn-normal layui-btn-mini layui-btn-disabled">已停用</span>`
             }
                   
           trStr +=`${status}</td>
            <td class="td-manage">
           `  
            if (data[k].status==1){
                  status = ` <a onclick="member_stop(this,'${data[k].id }')" href="javascript:;"  title="停用">
                      <i class="layui-icon">&#xe62f;</i> 
                    </a>`
               }else{
                  status =`  <a onclick="member_stop(this,'${data[k].id }')" href="javascript:;"  title="启用">
                     <i class="layui-icon">&#xe601;</i> 
                    </a>`
             }
                   
           trStr +=`${gender} <a title="编辑"  onclick="x_admin_show('编辑','/api/v2/user/${data[k].id }/edit',600,600)" href="javascript:;">
                <i class="layui-icon">&#xe642;</i>
              </a>
              <a onclick="x_admin_show('修改密码','/api/v2/user/${data[k].id }/edit',600,400)" title="修改密码" href="javascript:;">
                <i class="layui-icon">&#xe631;</i>
              </a>
              <a title="删除" onclick="member_del(this,'${data[k].id }')" href="javascript:;">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>`
         }

      
        $("#tbody").html(trStr)
     }
    </script>
   
  </body>

</html>
{% endblock %}
